<html>
<head>

</head>

<body>

<h1>Listing Books</h1>
<br>



<table>

  <% @categories.each do |category| %>
    <tr>
        <td><%= link_to category.name, "?category=#{category.id}"%></td>
    </tr>
  <% end %>

</table>

<table>

  <tr>
    <th width = 200>Book Title</th>
    <th width = 400>Book Author</th>
    <th width = 400>Book Description</th>
    <th width = 400>Book Cover</th>
    <th width = 400>Rating</th>

  </tr>

  <% @books.each do |book| %>

              <tr>
                <td align="center"><%= link_to book.title, book %></td>
                <td align="center"><%= link_to book.author_name, "?author=#{book.author_name}" %></td>
                <td align="center"><%= book.description %></td>
                <td align="center">
                  <%= link_to image_tag(book.image_url, height: '200', width: '200'), book%>
                </td>
                <td align="center">
                  <% if book.average("book_content")%>
                    Rating :<%= book.average("book_content").avg %>
                  <% end%>
                  <%= rating_for book, "book_content" ,:disable_after_rate => false%>
                  <br>
                  <% if current_user && Rate.find_by_rater_id_and_rateable_id_and_dimension(current_user.id, book.id, "book_content") %>
                      Your rating: <%= Rate.find_by_rater_id_and_rateable_id_and_dimension(current_user.id, book.id, "book_content").stars%>
                  <% end%>
                </td>
                <td align="center"><%= link_to 'view', book %></td>
              </tr>

  <% end %>
</table>

<br>


</body>
</html>